*{
    margin: 0%;
    padding: 0%;
}

.pai{
    width: 80%;
    padding:20px ;
    background-color: rgb(255, 255, 255);
}

.filho{
    padding: 30px;
    margin: 10px 0px;
    background-color: rgb(132, 181, 192);
}

